<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About Us - Startup Company</title>
  <link rel="stylesheet" href="static/about.css">
</head>
<body>
  <header>
    <div class="logo">
      <a href="#"><img src="static/logo.png" alt="Model"></a>
    </div>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
				<li><a href="Prediction">Analysis</a></li>
				<li><a href="/">Dataset</a></li>
        <li><a href="about.html">About Us</a></li>
				<li><a href="Contactus.html">Contact</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <section id="about">
      <div class="container">
        <h1>About Us</h1>
        <p>We are a team of passionate individuals dedicated to providing our clients with the best Prediction for their needs.

          At our core, we believe that technology can be used to create positive change in the world, and we strive to make that a reality with each project we take on.</p>
        <h2>Our Team</h2>
        <p>Our team is made up of Four members with a passion for helping people to make successfull investment decision . We have work on Machinelearning Model for predicting better price, and providing better decisions, and we are committed to delivering accurate solutions.</p>
        <ul class="team-members">
          <li>
            
            <h3>Pratik Alai</h3>
            <p>GROUP MEMBER</p>
          </li>
          <li>
           
            <h3>Yashim shaikh</h3>
            <p>GROUP MEMBER</p>
          </li>
          <li>
            
            <h3>Shreyash Pawar</h3>
            <p>GROUP MEMBER</p>
          </li>
          <li>
            
            <h3>Nikhil Taral</h3>
            <p>GROUP MEMBER</p>
          </li>
        </ul>
        <h2>Our Mission</h2>
        <p>Our Mission is to predict The Real Estate Price in order to make informed and accurat investment decisions and to provide quality information for decisions making and to anlyze the market trends and price ranges.</p>
      </div>
    </section>
  </main>

  <footer>
    <p>&copy; 2023 Real Estate. All rights reserved.</p>
  </footer>
</body>
</html>
