<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Real Estate</title>
	<link rel="stylesheet" href="static/index.css">
</head>
<body>
	<header>
		<div class="logo">
			<a href="#"><img src="static/logo.png"></a>
		  </div>
		<nav>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="predict.html">Prediction</a></li>
				<li><a href="/">Analysis</a></li>
				<li><a href="/">Dataset</a></li>
				<li><a href="about.html">About Us</a></li>
				<li><a href="Contactus.html">Contact</a></li>
			  </ul>
		</nav>
	</header>
    <main>
	<section id="hero">
		<h1>Welcome to Our Real Estate Project</h1>
		<p>We're here to help you find Dream property.</p>
		<button>Get Started</button>
	</section>

	
	<section id="contact">
		<h2>Contact Us</h2>
		<form action="#" method="post">
			<label for="name">Name:</label>
			<input type="text" id="name" name="name" required>

			<label for="email">Email:</label>
			<input type="email" id="email" name="email" required>

			<label for="message">Message:</label>
			<textarea id="message" name="message" required></textarea>

			<button type="submit">Send Message</button>
		</form>
	</section>
</main>

<footer>
	<p>&copy; 2023 Real Estate . All rights reserved.</p>
</footer>
</body>
</html>